.chatInput {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  background-color: #f5f5f5;
  height: 100%;
  padding: 0px 20px;
}

.formInput {
  flex: 1;
}

.inputChat {
  width: 98%;
  outline-width: 0;
  border-radius: 100px;
  border: 1px solid lightgray;
  padding: 5px;
}

.btnInput {
  display: none;
}

#fileid {
  display: none;
}

.emojiPicker {
  position: absolute;
  bottom: 70px;
}