.chat {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 9.5fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
  overflow: hidden;
  height: 100vh;
}

.chatMessage {
  margin: auto;
}