.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
}

.avatar {
  cursor: pointer;
  margin: 10px;
}

.inputField {
  display: flex;
  align-items: center;
  color: gray;
  height: 30px;
  background-color: #e1e1e1;
  border-radius: 5px;
}

.inputField > input {
  border: none !important;
  outline-width: 0 !important;
  background: transparent !important;
}
