.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.header > #title {
  font-weight: 500;
  color: gray;
}

.name {
  color: black;
  font-size: 1.5em;
}