.sidebarChat {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  padding: 15px;
  align-items: center;
  position: relative;
}

.sidebarChat:hover {
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  color: white;
}

.info {
  margin-left: 10px;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.infoText {
  max-width: 80px;
}

.time {
  position: absolute;
  top: 10px;
  right: 0px;
}

.deleteBtn {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 5px;
  right: 5px;
  background-image: url('../../assets/cancel.svg');
}