.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
}

.chats {
  overflow-y: scroll;
  width: 100%;
}

.chats::-webkit-scrollbar {
  display: none;
}

.chats {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}