.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 100;
}

.login .logo > .loginImg {
  object-fit: contain;
  height: 150px;
}

.login > .loginBtn {
  width: 300px;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  color: #eff2f5;
  font-weight: 700;
}

.login > .loginBtn:hover {
  background-color: white;
  color: white;
  opacity: 0.5;
}