.message {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  justify-content: space-between;
  margin: 20px;
  cursor: pointer;
}

.message > small.messageDate {
  color: gray;
  position: absolute;
  font-size: 10px;
  right: 0px;
  bottom: -10px;
}

.messageMine {
  margin-left: auto;
}

.messageMine .messagePhoto {
  order: 1;
  margin: 10px;
}

.messagePhoto {
  order: 0;
}

.messageMine p.messageText {
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  color: white;
  max-width: 350px;
  word-wrap: break-word;
}

.message p.messageText {
  background-color: #f3f3f5;
  font-size: medium;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  margin-right: auto;
  max-width: 350px;
  word-wrap: break-word;
}

.messagePicture {
  max-height: 420px;
  width: 420px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  margin-right: auto;
}

